<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <clear />
  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!-- <packageSourceMapping>
  <packageSource key="nuget.org">
    <package pattern="Ardalis.ApiEndpoints" />
    <package pattern="Ardalis.ApiEndpoints.CodeAnalyzers" />
    <package pattern="Ardalis.GuardClauses" />
    <package pattern="Ardalis.ListStartupServices" />
    <package pattern="Ardalis.Result" />
    <package pattern="Ardalis.Specification" />
    <package pattern="Ardalis.Specification.EntityFrameworkCore" />
    <package pattern="AutoMapper" />
    <package pattern="AutoMapper.Extensions.Microsoft.DependencyInjection" />
    <package pattern="Azure.Core" />
    <package pattern="Azure.Extensions.AspNetCore.Configuration.Secrets" />
    <package pattern="Azure.Identity" />
    <package pattern="Azure.Security.KeyVault.Secrets" />
    <package pattern="Blazored.LocalStorage" />
    <package pattern="BlazorInputFile" />
    <package pattern="BuildBundlerMinifier" />
    <package pattern="Castle.Core" />
    <package pattern="coverlet.collector" />
    <package pattern="dotnet-xunit" />
    <package pattern="FluentAssertions" />
    <package pattern="FluentValidation" />
    <package pattern="Humanizer.Core" />
    <package pattern="JetBrains.Annotations" />
    <package pattern="Libuv" />
    <package pattern="MediatR" />
    <package pattern="MediatR.Contracts" />
    <package pattern="microsoft.*" />
    <package pattern="MinimalApi.Endpoint" />
    <package pattern="Mono.TextTemplating" />
    <package pattern="MSTest.TestAdapter" />
    <package pattern="MSTest.TestFramework" />
    <package pattern="NETStandard.Library" />
    <package pattern="Newtonsoft.Json" />
    <package pattern="NSubstitute" />
    <package pattern="NSubstitute.Analyzers.CSharp" />
    <package pattern="NuGet.Common" />
    <package pattern="NuGet.Configuration" />
    <package pattern="NuGet.DependencyResolver.Core" />
    <package pattern="NuGet.Frameworks" />
    <package pattern="NuGet.LibraryModel" />
    <package pattern="NuGet.Packaging" />
    <package pattern="NuGet.ProjectModel" />
    <package pattern="NuGet.Protocol" />
    <package pattern="NuGet.Versioning" />
    <package pattern="NUnit" />
    <package pattern="NUnit.Analyzers" />
    <package pattern="NUnit3TestAdapter" />
    <package pattern="runtime.*" />
    <package pattern="Selenium.Support" />
    <package pattern="Selenium.WebDriver" />
    <package pattern="Swashbuckle.AspNetCore" />
    <package pattern="Swashbuckle.AspNetCore.Annotations" />
    <package pattern="Swashbuckle.AspNetCore.Swagger" />
    <package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
    <package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
    <package pattern="system.*" />
    <package pattern="Unity" />
    <package pattern="xunit" />
    <package pattern="xunit.*" />
  </packageSource>
</packageSourceMapping> -->
<disabledPackageSources>
</disabledPackageSources>
</configuration>
